*{
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
    margin:0;
    
}
.backdrop{
    position: fixed;
    display: none;
    top:0;
    left:0;
    z-index: 100;
    width:100vw;
    height: 100vh;
    background: rgba(0,0,0,0.5);
}
.background{
    background-image: url("/images/bg.png");
    background-size: cover;
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: -1;
}
.main-header{
    width: 100vw;
    padding: 0.5rem 1rem;
    background-color: white;
    position: fixed;
    top:0;
    left:0;
    z-index: 1;
    border-bottom: 2px solid black;

   
}
.main-header>div{
    display: inline-block;
    vertical-align: middle;
}
.main-header__brand{
    text-decoration: none;
    font-weight: bold;
    font-size:1.375rem;
}
.main-nav{
    display:none;
    text-align: right;
    width:calc(100% - 74px);
    vertical-align: middle;
}

.main-nav__items{
    margin:0;
    padding:0;
    list-style: none;
}
.main-nav__item{
    display: inline-block;
    margin: 0 1rem;
}


.mobile-nav{
    display: none;
    position: fixed;
    z-index: 101;
    top:0;
    left:0;
    background: white;
    width:80%;
    height:100vh;
}
.mobile-nav__items{
    width:90%;
    height: 100%;
    list-style: none;
    margin:10% auto;
    padding: 0;
    text-align: center;
}
.mobile-nav__item{
    margin: 1rem 0;
}
.mobile-nav__item a{
    font-size: 1.5rem;
}
.main-nav__item > a,
.mobile-nav__item > a{
    text-decoration: none;
    font-weight: bold;
    padding: 0.1875rem 0;
    color:black;
    
}
#about{
    background: white;
    padding: 3.125rem;
}

.overview{
    background-color: transparent;
    width: 100%;
    height:600px;
    
}

.overview-text{
    position: absolute;
    top:80px;
    color:white;
}
.section-title{
    color:black;
    font-family: inherit;
    text-align: center;
}
.store{
    background-color: white;
    padding:0.625rem 0;
    width: 100%;
    position: relative;
    left: 0;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
}
#beats{
    /* position: relative; */
    margin:1.25rem 0;
    padding-bottom:3.125rem;
}
.beats-frame{
    position: relative;
    text-align: center;
    z-index: 0;
}
/* iframe{
    width: 40rem;
} */

.plans-content{
    padding-top: 3.125rem;
}

.plan h3{
    font-size: 1.25rem;
}

.plan__list{
    width:100%;
    margin:auto;
    text-align: center;

}
.plan{
    background: white;
    padding: 1rem;
    margin:0.5rem;
    border: 2px solid black;
    font-size: 0.8rem;
    max-width: 18.75rem;
    text-align: center;
    /* position: relative;
    left:26%; */
}


.plan__title{
    color:black;
}
.plan__price{
    color:rgb(133, 129, 129);
}

.plan__features{
    list-style: none;
    margin:0;
    padding: 0;
}
.plan__features li{
    margin:0.5rem ;
}

#contact{
    background: white;
    width:100vw;
    padding:1.5rem;
    margin:20px 0;
    border-top:2px solid black;
    border-bottom: 2px solid black;
}
#contact-form{
    padding:1rem;
}
#contact-form input,
#contact-form label,
#contact-form textarea{
    display: block;
    margin-top: 1rem;
    width: 100%;
}
#contact-form input,
#contact-form textarea{
    border:1px solid #ccc;
    padding: 0.2rem 0.5rem;
    font:inherit;

}
#contact-form .button{
    background-color: transparent;
    color:black;
    font:inherit;
    border: 1px solid black;
    padding:0.5rem;
    /* border-radius: 8px; */
    cursor: pointer;
    width:20%;
}

.button:hover{
    background-color: white;
    color: black;
    transform: scale(1.1);
}
.button:focus{
    outline: none;
}
.toggle-button{
    width:3rem;
    background: transparent;
    border: none;
    cursor: pointer;
    padding-top:0;
    padding-bottom: 0;
    vertical-align: middle;
}
.toggle-button:focus{
    outline: none;
}
.toggle-button:hover{
    transform: scale(1.1);
}
.toggle-button__bar{
    width:100%;
    height: 0.2rem;
    background:black;
    display: block;
    margin:0.6rem 0;
}



.fa {
    padding: 1.25rem;
    font-size: 0.625rem;
    width: 3.125rem;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    border-radius: 50%;
  }

  .fa-soundcloud {
    background: #ff5500;
    color: white;
  }
  .fa-instagram {
    background: #125688;
    color: white;
  }
  .fa-twitter {
    background: #55ACEE;
    color: white;
  }

  .fa:hover{
      transform: scale(1.1);
      color: white;
      text-decoration: none;
  }

  .social-media-buttons{
        display: flex;
        justify-content: space-between;
  }

  .btn:hover{
      transform: scale(1.1);
  }

.main-footer{
    padding:2rem;
    margin-top:3rem;
    background-color: rgba(29, 28, 28, 0.9);
    width:100%;
}
.main-footer__links{
    list-style:none;
    margin:0;
    padding:0;
    text-align: center;
}

.main-footer__link,
.main-footer__link-button{
    display: inline-block;
    margin: 0 1rem;
}

.main-footer__link a{
   text-decoration: none;
   color:white;
}

.open{
    display: block;
}
@media (min-width:55rem){
    .plan{
        display: inline-block;
        width:20%; 
        vertical-align: middle;
        position: static;
    }
    iframe{
        width:60rem;
    }
    .toggle-button{
        display: none;
    }
    .main-nav{
        display: inline-block;
        text-align: right;
        width:calc(100% - 74px);
        vertical-align: middle;
    }
    #contact-form{
        margin: auto;
        width:25rem;
    }
}



