*{
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
    margin:0px;
}
.background{
    background: url("/images/bg.png");
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: -1;
}
.main-header{
    width: 100%;
    padding: 8px 16px;
    background-color: white;
    position: fixed;
    top:0;
    z-index: 1;
    border-bottom: 2px solid black;

   
}
.main-header>div{
    display: inline-block;
    vertical-align: middle;
}
.main-header__brand{
    text-decoration: none;
    font-weight: bold;
    font-size:22px;
}
.main-nav{
    display: inline-block;
    text-align: right;
    width:calc(100% - 74px);
    vertical-align: middle;
}

.main-nav__items{
    margin:0;
    padding:0;
    list-style: none;
}
.main-nav__item{
    display: inline-block;
    margin: 0 16px;
}

.main-nav__item > a{
    text-decoration: none;
    font-weight: bold;
    padding: 3px 0;
    color:black;
    
}
#about{
    background: white;
    padding: 50px;
}

#overview{
    /* background-color: #ff0055; */
    width: 100%;
    height:650px;
}
.section-title{
    color:black;
    font-family: inherit;
    text-align: center;
}
.store{
    background-color: white;
    padding:10px 0;
}
#beats{
    position: relative;
    margin:20px 0;
    padding-bottom:50px;
}
.beats-frame{
    position: relative;
    text-align: center;
    z-index: 0;
}
.plans-content{
    padding-top: 50px;
}

.plan h3{
    font-size: 20px;
}

.plan__list{
    width:80%;
    margin:auto;
    text-align: center;
}
.plan{
    background: white;
    text-align: center;
    padding: 16px;
    margin:8px;
    display: inline-block;
    width:30%;
    vertical-align: middle;
    border: 2px solid black;
}


.plan__title{
    color:black;
}
.plan__price{
    color:rgb(133, 129, 129);
}

.plan__features{
    list-style: none;
    margin:0px;
    padding: 0px;
}
.plan__features li{
    margin:8px 0px;
}
.button{
    background-color: rgb(43, 43, 43);
    color:#ffff;
    font:inherit;
    border: 1.5px solid rgb(43,43,43);
    padding:8px;
    border-radius: 8px;
    cursor: pointer;
    font-weight: bold;
}

.button:hover{
    background-color: white;
    color: black;
    transform: scale(1.1);
}
.button:focus{
    outline: none;
}

.fa {
    padding: 20px;
    font-size: 10px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    border-radius: 50%;
  }

  .fa-soundcloud {
    background: #ff5500;
    color: white;
  }
  .fa-instagram {
    background: #125688;
    color: white;
  }
  .fa-twitter {
    background: #55ACEE;
    color: white;
  }

  .fa:hover{
      transform: scale(1.1);
      color: white;
      text-decoration: none;
  }

  .social-media-buttons{
        display: flex;
        justify-content: space-between;
  }

  .btn:hover{
      transform: scale(1.1);
  }

.main-footer{
    padding:32px;
    margin-top:48px;
    background-color: rgba(29, 28, 28, 0.9);
}
.main-footer__links{
    list-style:none;
    margin:0;
    padding:0;
    text-align: center;
}

.main-footer__link,
.main-footer__link-button{
    display: inline-block;
    margin: 0 16px;
}

.main-footer__link a{
   text-decoration: none;
   color:white;
}



